 *{
    padding: 0px;
    margin: 0px;
 }
 .header{
    display: flex;
    background-color: rgb(77, 74, 74);
    height: 70px;
    width: 100vw;
    padding: 0px 5px;
    position: fixed;
 }

 .logo{ 
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.menu{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.btn{
    display: flex;
    justify-content: start;
    gap: 20px;
}

.logo img{ 
    height: 40px;
    width: 40%;    
}

 
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    list-style: none;
    padding: 15px;
    font-size: 12px;

}

.cta-btn{
    background-color: green;
    padding: 3px 20px;
    border-radius: 15px;
    font-size: 15px;
    justify-content: flex-start;
    gap: 20px;
}
.header-panel{
    height: 20px;
    width: 100%;
    background-color: rgb(236, 53, 53);
    display: flex;
    position: fixed;
    top: 70px;
}
.E{
    width: 15%;
    display: flex;
    font-size: 15px;
    align-items: center;
    padding-left: 10px;
}
.panel{
    width: 85%;
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.panel ul{
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 13px;
    align-items: end;
    gap: 10px;
}
.container{
    height: 650px;
    width: 100%;
    background-image: url(stats_slide1.jpg);
    background-attachment: fixed;
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.container .text-area:nth-child(4){
    border-right: none;
}

.text-area{
    color: white;
    font-size: 12px;
    border-right: 4px solid white;
    padding-right: 35px;

}
.text-area h1{
    font-size: 60px;
    
}

.text-area p{
    font-size: 30px;
}

.newslatter1{
    height: 250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.latter{
    font-weight: bold;
}

.image-open{
    height: 160px;
    width: 190px;
    background-image: url(open-newsletter.png);
    background-size: cover;
}
.e-Rozgar1{
    height: 130px;
    width: 150px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}
.image-close{
    height: 150px;
    width: 100px;
    background-color: green;
    background-image: url(closed-newsletters_1.png);
    background-size: cover;
}
.newslatter1 button{
    background-color: red;
    border-style: none;
    border-radius: 5px;
    padding: 2px 20px;
    font-size: 12px;
    font-weight: 700;
}

 /* .img1 img{
    background-size: cover;
} */

  .wrapper{
    height: 150px; 
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 50px;
    /* padding-top: 10px; */

  }
  .heading1{
    height: 30px;
    font-size: 25px;
    font-weight: 600;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    /* background-color: green; */
  }


  .heading{
    height: 40px;
    width: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
  }
.wrapper .box{
    height: 130px;
    width: 200px;
    background-image: url(istockphoto-888477728-170667a.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
    
}

.wrapper .box1{
    height: 130px;
    width: 200px;
    background-image: url(writing1.jpg);
    background-size: cover;
    display: flex;
    border-radius: 10px;
    
}

.wrapper .box2{
    height: 130px;
    width: 200px;
    background-image: url(designing.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.box3{
    height: 30px;
    /* background-color: yellow; */
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.online-courses{
    height: 180px;
    width: 100%;
    padding-top: 5px;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

} 
.online-courses .box4{
    height: 130px;
    width: 200px;
    background-image: url(istockphoto-888477728-170667a.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}

.online-courses .box5{
    height: 130px;
    width: 200px;
    background-image: url(writing1.jpg);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.online-courses .box6{
    height: 130px;
    width: 200px;
    background-image: url(designing.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.online-courses .box7{
    height: 130px;
    width: 200px;
    background-image: url(mobile.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.online-courses2{
    height: 180px;
    width: 100%;
    padding-top: 5px;
    /* background-color: rgb(127, 136, 127); */
    display: flex;
    justify-content: space-evenly;
}
.online-courses2 .box8{
    height: 130px;
    width: 200px;
    background-image: url(social-media.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.online-courses2 .box9{
    height: 130px;
    width: 200px;
    background-image: url(UI.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.online-courses2 .box10{
    height: 130px;
    width: 200px;
    background-image: url(e-commerce.webp);
    background-size: cover;
    display: flex;
    border-radius: 10px;
}
.text-area2{
    height: 30px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.banner1{
    background-color: yellowgreen;
    height: 650px;
    width: 100%;
    background-image: url(Slide-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.apply .i{
    font-size: 30px;
}

.apply{
    font-size: 15px;
    font-weight: 800;
    color: yellow;
    background-color: red;
    padding: 2px 15px;
    border-radius: 10px;   
}
.info-sec{
    margin-top: 10px;
    background-color: rgb(216, 216, 221);
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}





